In [1]:
def state_corona_update():
    import pandas as pd
    import numpy as np
    import requests
    url = "https://api.apify.com/v2/datasets/58a4VXwBBF0HtxuQa/items?format=json&clean=1"
    resp = requests.get(url)
    date = []
    data = resp.json()
    region=[]
    totalInfected=[]
    newInfected=[]
    recovered=[]
    newRecovered=[]
    deceased=[]
    newDeceased=[]
    for val in data[63:]:
        for i in val.get('regionData'):
            date.append(val.get('lastUpdatedAtApify',np.nan))
            region.append(i.get('region',np.nan))
            totalInfected.append(i.get('totalInfected',np.nan))
            newInfected.append(i.get('newInfected',np.nan))
            recovered.append(i.get('recovered',np.nan))
            newRecovered.append(i.get('newRecovered',np.nan))
            deceased.append(i.get('deceased',np.nan))
            newDeceased.append(i.get('newDeceased',np.nan))
#     global df       
    df = pd.DataFrame({
                "Date" : date,
                "Region" : region,
                "TotalInfected" : totalInfected,
                "NewInfected" : newInfected,
                "Recovered" : recovered,
                "NewRecovered" : newRecovered,
                "Deceased": deceased,
                "NewDeceased": newDeceased

                })
    df['Date'] = df[['Date']].applymap(lambda x: x[0:10])
    df['Date']=pd.to_datetime(df['Date'])

    return df

In [2]:
df = state_corona_update()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13035 entries, 0 to 13034
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           13035 non-null  datetime64[ns]
 1   Region         13021 non-null  object
 2   TotalInfected  13021 non-null  object
 3   NewInfected    8225 non-null   float64
 4   Recovered      13020 non-null  object
 5   NewRecovered   8225 non-null   float64
 6   Deceased       13012 non-null  object
 7   NewDeceased    8225 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 814.8+ KB

In [4]:
df

,Date,Region,TotalInfected,NewInfected,Recovered,NewRecovered,Deceased,NewDeceased
0,2020-04-29,Andaman and Nicobar Islands,33,NaN,15,NaN,0,NaN
1,2020-04-29,Andhra Pradesh,1259,NaN,258,NaN,31,NaN
2,2020-04-29,Arunachal Pradesh,1,NaN,1,NaN,0,NaN
3,2020-04-29,Assam,38,NaN,27,NaN,1,NaN
4,2020-04-29,Bihar,366,NaN,64,NaN,2,NaN
...,...,...,...,...,...,...,...,...
13030,2020-12-29,Telengana,5999,-232.0,277931,627.0,1535,2.0
13031,2020-12-29,Tripura,140,-8.0,32721,10.0,385,0.0
13032,2020-12-29,Uttarakhand,5511,-114.0,82850,313.0,1489,6.0
13033,2020-12-29,Uttar Pradesh,14710,-661.0,559888,1585.0,8322,16.0
13034,2020-12-29,West Bengal,13161,-613.0,525685,1614.0,9625,27.0

In [5]:
df[df['Region']=="Rajasthan"]

,Date,Region,TotalInfected,NewInfected,Recovered,NewRecovered,Deceased,NewDeceased
25,2020-04-29,Rajasthan,2364,NaN,768,NaN,51,NaN
60,2020-04-29,Rajasthan,2364,NaN,768,NaN,51,NaN
97,2020-04-30,Rajasthan,2438,NaN,768,NaN,51,NaN
132,2020-04-30,Rajasthan,2438,NaN,768,NaN,51,NaN
168,2020-05-01,Rajasthan,2584,NaN,836,NaN,58,NaN
...,...,...,...,...,...,...,...,...
12887,2020-12-27,Rajasthan,11488,-212.0,290365,990.0,2664,7.0
12922,2020-12-27,Rajasthan,11488,-212.0,290365,990.0,2664,7.0
12957,2020-12-28,Rajasthan,11157,-331.0,291533,1168.0,2670,6.0
12992,2020-12-28,Rajasthan,11157,-331.0,291533,1168.0,2670,6.0
13027,2020-12-29,Rajasthan,10742,-415.0,292739,1206.0,2677,7.0

In [6]:
df.fillna(0,inplace=True)

In [7]:
df

,Date,Region,TotalInfected,NewInfected,Recovered,NewRecovered,Deceased,NewDeceased
0,2020-04-29,Andaman and Nicobar Islands,33,0.0,15,0.0,0,0.0
1,2020-04-29,Andhra Pradesh,1259,0.0,258,0.0,31,0.0
2,2020-04-29,Arunachal Pradesh,1,0.0,1,0.0,0,0.0
3,2020-04-29,Assam,38,0.0,27,0.0,1,0.0
4,2020-04-29,Bihar,366,0.0,64,0.0,2,0.0
...,...,...,...,...,...,...,...,...
13030,2020-12-29,Telengana,5999,-232.0,277931,627.0,1535,2.0
13031,2020-12-29,Tripura,140,-8.0,32721,10.0,385,0.0
13032,2020-12-29,Uttarakhand,5511,-114.0,82850,313.0,1489,6.0
13033,2020-12-29,Uttar Pradesh,14710,-661.0,559888,1585.0,8322,16.0
13034,2020-12-29,West Bengal,13161,-613.0,525685,1614.0,9625,27.0

In [61]:
df['Deceased'][df['Region']=='Rajasthan'][-1:].to_frame()

      Deceased
13027     2677

13027    2677
Name: Deceased, dtype: object

In [39]:
import matplotlib.pyplot as plt

In [47]:
fig = plt.figure(figsize=(10, 5), facecolor="black")
            ax = fig.add_axes([0, 0, 1, 1], facecolor="black")
            ax.pie([df['TotalInfected'][df['Region']=='Rajasthan'][-1:], df['Recovered'][df['Region']=='Rajasthan'][-1:], df['Deceased'][df['Region']=='Rajasthan'][-1:], labels = ['cases', 'recovered', 'deaths'], textprops={'color':"white"})
            plt.savefig("static/images/pie1.png")

SyntaxError: invalid syntax (<ipython-input-47-81c5795feddc>, line 4)

In [48]:
plt.pie([df['TotalInfected'][df['Region']=='Rajasthan'][-1:], df['Recovered'][df['Region']=='Rajasthan'][-1:], df['Deceased'][df['Region']=='Rajasthan'][-1:])

SyntaxError: invalid syntax (<ipython-input-48-2091b7ddd582>, line 1)

In [54]:
df.

TypeError: Invalid comparison between dtype=datetime64[ns] and int

In [66]:
df['TotalInfected'].plot.bar()
plt.show()

TypeError: no numeric data to plot

In [1]:
def state_corona_update():
    import pandas as pd
    import numpy as np
    import requests
    url = "https://api.apify.com/v2/datasets/58a4VXwBBF0HtxuQa/items?format=json&clean=1"
    resp = requests.get(url)
    date = []
    data = resp.json()
    region=[]
    totalInfected=[]
    newInfected=[]
    recovered=[]
    newRecovered=[]
    deceased=[]
    newDeceased=[]
    for val in data[63:]:
        for i in val.get('regionData'):
            date.append(val.get('lastUpdatedAtApify',np.nan))
            region.append(i.get('region',np.nan))
            totalInfected.append(i.get('totalInfected',np.nan))
            newInfected.append(i.get('newInfected',np.nan))
            recovered.append(i.get('recovered',np.nan))
            newRecovered.append(i.get('newRecovered',np.nan))
            deceased.append(i.get('deceased',np.nan))
            newDeceased.append(i.get('newDeceased',np.nan))
#     global df       
    df = pd.DataFrame({
                "Date" : date,
                "Region" : region,
                "TotalInfected" : totalInfected,
                "NewInfected" : newInfected,
                "Recovered" : recovered,
                "NewRecovered" : newRecovered,
                "Deceased": deceased,
                "NewDeceased": newDeceased

                })
    df['Date'] = df[['Date']].applymap(lambda x: x[0:10])
    df['Date']=pd.to_datetime(df['Date'])

    return df

In [3]:
df = state_corona_update()

In [4]:
df

,Date,Region,TotalInfected,NewInfected,Recovered,NewRecovered,Deceased,NewDeceased
0,2020-04-29,Andaman and Nicobar Islands,33,NaN,15,NaN,0,NaN
1,2020-04-29,Andhra Pradesh,1259,NaN,258,NaN,31,NaN
2,2020-04-29,Arunachal Pradesh,1,NaN,1,NaN,0,NaN
3,2020-04-29,Assam,38,NaN,27,NaN,1,NaN
4,2020-04-29,Bihar,366,NaN,64,NaN,2,NaN
...,...,...,...,...,...,...,...,...
13870,2021-01-09,Telengana,4822,-178.0,283048,474.0,1563,2.0
13871,2021-01-09,Tripura,60,1.0,32854,2.0,388,0.0
13872,2021-01-09,Uttarakhand,3179,-130.0,88370,392.0,1562,7.0
13873,2021-01-09,Uttar Pradesh,11535,-252.0,571606,1001.0,8469,17.0
13874,2021-01-09,West Bengal,8245,-231.0,540952,1136.0,9902,21.0

In [5]:
df.to_csv("Indian_region_corona_data.csv")